<a href="https://colab.research.google.com/github/yoshinaga2904/Bootcamp-Alura/blob/main/Fabio_Yoshinaga_Projeto_modulo_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Apresentação:

---
Olá Cientistas!

Pretendo com as aulas do modulo 1 - Bootcamp Data Science Aplicado, aprender as tecnicas utilizadas por um cientista de dados para os tratamentos de dados e teorias aplicadas. Vou analisar os dados da fonte citada abaixo e demonstrar algumas hipóteses observadas referente a epidemia Covid 19. Então vamos lá...

# Base de estudo:

---
Pesquisa:

Secretarias de Saúde das Unidades Federativas, dados tratados por Álvaro Justen e colaboradores/Brasil.IO.

*fonte: https://github.com/turicas/covid19-br/blob/master/api.md#casos*

# Hipótese:

####1 - analisar quantidade de casos Registrados de covid 19 por estados UF;

####2 - analisar quantidade de casos confirmados de covid 19 por estados UF; 

####3 - analisar quantidade de mortes pela covid 19 por estados UF; 

####4 - analisar taxa de mortalidade pela covid 19 por estados UF; 

####5 - analisar quantidade de casos confirmados pelo covid 19, com a estimativa populacional segundo o IBGE por estados UF; 

####6 - analisar quantidade de mortes pelo covid 19, com a estimativa populacional segundo o IBGE por estados UF

# Bibliotecas:

In [1]:
import pandas as pd

# Análise dos Dados:

# Documentação da tabela:
## Colunas:

1. date: data de coleta dos dados no formato YYYY-MM-DD.

2. state: sigla da unidade federativa, exemplo: SP.

3. city: nome do município (pode estar em branco quando o registro é referente ao estado, pode ser preenchido com Importados/Indefinidos também).

4. place_type: tipo de local que esse registro descreve, pode ser city ou state.

5. order_for_place: número que identifica a ordem do registro para este local. O registro referente ao primeiro boletim em que esse local aparecer será contabilizado como 1 e os demais boletins incrementarão esse valor.

6. is_last: campo pré-computado que diz se esse registro é o mais novo para esse local, pode ser True ou False (caso filtre por esse campo, use is_last=True ou is_last=False, não use o valor em minúsculas).

7. city_ibge_code: código IBGE do local.

8. confirmed: número de casos confirmados.

9. deaths: número de mortes.

10. estimated_population: população estimada para esse município/estado em 2020, segundo o IBGE. (acesse o script que faz o download e conversão dos dados de população).

11. estimated_population_2019: população estimada para esse município/estado em 2019, segundo o IBGE. ATENÇÃO: essa coluna possui valores desatualizados, prefira usar a coluna estimated_population.

12. confirmed_per_100k_inhabitants: número de casos 
confirmados por 100.000 habitantes (baseado em estimated_population).

13. death_rate: taxa de mortalidade (mortes / confirmados).

#Arquivo - Brasil IO

In [6]:
#lendo arquivo do Brasil.IO
caso_brasil_io = pd.read_csv('/content/drive/My Drive/Colab Notebooks/bootcamp Alura Data Science/caso.csv')
caso_brasil_io.head()

         date state  ... confirmed_per_100k_inhabitants death_rate
0  2020-11-05    AC  ...                     3493.46540     0.0223
1  2020-11-04    AC  ...                     3490.11146     0.0223
2  2020-11-03    AC  ...                     3461.49116     0.0224
3  2020-11-02    AC  ...                     3460.59678     0.0224
4  2020-11-01    AC  ...                     3460.26138     0.0224

[5 rows x 13 columns]

In [7]:
#Verificando quantidade de linhas e colunas no arquivo Brasil.IO
caso_brasil_io.shape

(936870, 13)

In [8]:
#informações gerais e tipo de variáveis no arquivo Brasil.IO

    #Existem campos com valores vazios, e a princípio não farei nenhum tratamento,
    #para os dados vazios. Conforme a necessidade traterei no decorrer da análise.

caso_brasil_io.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 936870 entries, 0 to 936869
Data columns (total 13 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   date                            936870 non-null  object
 1   state                           936870 non-null  object
 2   city                            930535 non-null  object
 3   place_type                      936870 non-null  object
 4   confirmed                       936870 non-null  int64
 5   deaths                          936870 non-null  int64
 6   order_for_place                 936870 non-null  int64
 7   is_last                         936870 non-null  bool
 8   estimated_population_2019       933215 non-null  float64
 9   estimated_population            933215 non-null  float64
 10  city_ibge_code                  933215 non-null  float64
 11  confirmed_per_100k_inhabitants  919888 non-null  float64
 12  death_rate                      936870 non-null  float64
dtypes: bool(1), float64(5), int64(3), object(4)
memory usage: 86.7+ MB

# 1 - analisar quantidade de casos Registrados de covid 19 por estados UF;

In [31]:
#Separando a quantidade de registros para casos de covid 19 por estados UF
frequencia = caso_brasil_io['state'].value_counts()

#Verificando o percentual de registros dos casos de covid 19 por estados UF
percentual = caso_brasil_io['state'].value_counts(normalize=True).round(4)*100

#Criando um DataFrame com os valores de frequência e percentual dos casos por estados UF
dados = {'Frequência de casos Registrados':frequencia, 'Porcentagem %':percentual}
casos_registrados = pd.DataFrame(data=dados)
casos_registrados

    Frequência de casos Registrados  Porcentagem %
MG                           129839          13.86
SP                           114897          12.26
RS                            80731           8.62
BA                            72566           7.75
PR                            62364           6.66
SC                            53179           5.68
GO                            41065           4.38
MA                            41062           4.38
PB                            38848           4.15
PI                            38160           4.07
CE                            36657           3.91
PE                            35663           3.81
PA                            28025           2.99
RN                            22799           2.43
TO                            19440           2.07
AL                            19077           2.04
RJ                            18646           1.99
SE                            13572           1.45
MS                            12886           1.38
ES                            12838           1.37
AM                            12234           1.31
MT                            11983           1.28
RO                             8942           0.95
AC                             4247           0.45
AP                             3327           0.36
RR                             3114           0.33
DF                              709           0.08