<a href="https://colab.research.google.com/github/yoshinaga2904/Bootcamp-Alura/blob/main/Modulo_2_Desafios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
import pandas as pd

In [39]:
dados = pd.read_csv("https://raw.githubusercontent.com/alura-cursos/agendamento-hospitalar/main/dados/A160324189_28_143_208.csv",
                    encoding="ISO-8859-1", 
                    skiprows = 3, sep=";", skipfooter=12,
                    thousands=".", decimal=",")
dados.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  after removing the cwd from sys.path.

  Unidade da Federação 1992/Mar 1992/Abr  ...    2020/Jul     2020/Ago         Total
0          11 Rondônia        -        -  ...  7407388.24   3556381.57  929129659.72
1              12 Acre        -        -  ...  1163813.08            -  420668039.63
2          13 Amazonas        -        -  ... 13358514.02   4726485.73 1771654871.23
3           14 Roraima        -        -  ...  2739498.41   1524478.04  305010883.18
4              15 Pará        -        -  ... 27618727.51  11559714.54 4437115730.71

[5 rows x 280 columns]

In [40]:
ordenado_por_total = dados.sort_values("Total", ascending=False)
ordenado_por_total = ordenado_por_total.set_index("Unidade da Federação")
ordenado_por_total.index = ordenado_por_total.index.str[3:]
ordenado_por_total = ordenado_por_total.drop("Total", axis=1)
ordenado_por_total.head()

                      1992/Mar  1992/Abr  ...     2020/Jul      2020/Ago
Unidade da Federação                      ...
São Paulo             40243.16  11449.99  ... 282709570.31  140414944.95
Minas Gerais                 -         -  ... 120467187.34   57473699.06
Paraná                       -         -  ...  80320852.69   41542401.16
Rio Grande do Sul            -         -  ...  78929703.81   28349257.38
Rio de Janeiro               -         -  ...  71540227.33   36264322.65

[5 rows x 278 columns]

In [42]:
mes_mais_recente = ordenado_por_total.columns[-2]
mes_mais_recente

'2020/Jul'

In [43]:
gastos_do_mais_recente = ordenado_por_total[mes_mais_recente]
gastos_do_mais_recente.head()

Unidade da Federação
São Paulo           282709570.31
Minas Gerais        120467187.34
Paraná               80320852.69
Rio Grande do Sul    78929703.81
Rio de Janeiro       71540227.33
Name: 2020/Jul, dtype: float64

In [44]:
pd.options.display.float_format = "{:.2f}".format

In [45]:
gastos_do_mais_recente

Unidade da Federação
São Paulo             282709570.31
Minas Gerais          120467187.34
Paraná                 80320852.69
Rio Grande do Sul      78929703.81
Rio de Janeiro         71540227.33
Bahia                  58898100.40
Pernambuco             62325444.34
Santa Catarina         51764534.76
Ceará                  30809221.22
Goiás                  33499284.38
Pará                   27618727.51
Maranhão               24374205.15
Espírito Santo         27460475.47
Rio Grande do Norte    19593057.45
Paraíba                15491469.06
Distrito Federal       22233542.26
Mato Grosso do Sul     12508717.35
Piauí                  18019214.49
Alagoas                13087850.40
Mato Grosso            13083151.70
Amazonas               13358514.02
Sergipe                 3312766.32
Tocantins               4489665.87
Rondônia                7407388.24
Acre                    1163813.08
Roraima                 2739498.41
Amapá                   2155083.37
Name: 2020/Jul, dtype: float64

# Desafio 01 - Entre nos dados do wikipedia e Leia a Base de dados direto do wikipedia.

In [46]:
#Utilizarei uma tecnica aprendida no curso de Data Science na Alura, chamada de Web Scraping
#Para a aplicação do web scraping chamarei duas bibliotecas:
#requests: biblioteca para execução de requisições HTTP;
#BeautifulSoup: biblioteca para extração de dados em arquivos HTML e XML;

import requests
from bs4 import BeautifulSoup

In [47]:
#fazer uma requisição GET obter o HTML da página
req = requests.get('https://pt.wikipedia.org/wiki/Lista_de_unidades_federativas_do_Brasil_por_popula%C3%A7%C3%A3o')

#o método 'content' serve para acessar o código da página HTML
content = req.content

In [94]:
#A biblioteca BeautifulSoup é utilizada para extrair uma tabela
#cria uma variável para acessar o documento de forma estruturada de acordo com as tags
#Com o metodo 'find' acessamos a tabela

soup = BeautifulSoup(content, 'html.parser')
tabela = soup.find(name='table')

In [135]:
# antes de utilizar o Pandas para acessar a tabela, devemos converter para string a variavel 'tabela'
tabela_str = str(tabela)

#Lendo o arquivo no Pandas, passando o index da tabela que pretendo acessar
populacao_ibge = pd.read_html(tabela_str)[0]
populacao_ibge

    Posição  ...        País comparável (habitantes)
0         1  ...                Espanha (46 439 864)
1         2  ...              Sri Lanka (20 675 000)
2         3  ...          Países Baixos (16 922 900)
3         4  ...                  Chade (14 037 000)
4         5  ...                Bolívia (11 410 651)
5         6  ...                Bélgica (11 250 659)
6         7  ...            Bielorrússia (9 485 300)
7         8  ...  Emirados Árabes Unidos (9 157 000)
8         9  ...                 Áustria (8 602 112)
9        10  ...                  Sérvia (7 114 393)
10       12  ...                Paraguai (7 003 406)
11       11  ...                Paraguai (7 003 406)
12       13  ...                  Líbano (4 168 000)
13       14  ...                  Líbano (4 168 000)
14       15  ...                  Líbano (4 168 000)
15       16  ...                 Uruguai (3 415 866)
16       17  ...                 Uruguai (3 415 866)
17       18  ...                 Uruguai (3 415 866)
18       19  ...                  Kuwait (3 268 431)
19       20  ...                Lituânia (2 900 787)
20       21  ...                 Jamaica (2 717 991)
21       22  ...                 Namíbia (2 280 700)
22       23  ...                   Gabão (1 725 000)
23       24  ...                 Bahrein (1 359 800)
24       25  ...                      Fiji (859 178)
25       26  ...                      Fiji (859 178)
26       27  ...                Luxemburgo (562 958)

[27 rows x 5 columns]

# Desafio 02 - Neste desafio temos uma série de passos:



*   Padronizar os nomes das colunas
*   Transformar os dados nos tipos corretos
*   Transformar a UF em index

In [136]:
#Padronizar os nomes das colunas
populacao_ibge = populacao_ibge.rename(columns={"Unidade federativa": "UF",
                                                "População": "populacao"})

#removendo colunas que não usaremos
populacao_ibge.drop(columns=['Posição', '% da pop. total', 'País comparável (habitantes)'], inplace=True)

#Transformar os dados nos tipos corretos
populacao_ibge['populacao'] = populacao_ibge["populacao"].str.replace(" ", "").astype(int)

#Transformar a UF em index
populacao_ibge = populacao_ibge.set_index('UF')
populacao_ibge

                     populacao
UF
São Paulo             46289333
Minas Gerais          21331292
Rio de Janeiro        17366189
Bahia                 14930634
Paraná                11516840
Rio Grande do Sul     11422973
Pernambuco             9616621
Ceará                  9187103
Pará                   8690745
Santa Catarina         7279638
Goiás                  7142070
Maranhão               7127460
Amazonas               4228381
Espírito Santo         4064052
Paraíba                4039277
Rio Grande do Norte    3534165
Mato Grosso            3526220
Alagoas                3351543
Piauí                  3281480
Distrito Federal       3055149
Mato Grosso do Sul     2809394
Sergipe                2318822
Rondônia               1796460
Tocantins              1590248
Acre                    894470
Amapá                   861773
Roraima                 631181

In [138]:
#verificando o tipo da variavel 
populacao_ibge.dtypes

populacao    int64
dtype: object