<a href="https://colab.research.google.com/github/yoshinaga2904/Bootcamp-Alura/blob/main/Modulo_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import pandas as pd
import numpy as np
from zipfile import ZipFile

#caminho para acesso a pasta zip no drive google
caminho = '/content/drive/MyDrive/PENSE_2015/PeNSE_2015_AMOSTRA2.zip'

#Criando caminho
zip = ZipFile(caminho)

#acessando o arquivo escolhido dentro da pasta zip
acesso_pasta_zipada = zip.namelist()[1]

dados = pd.read_csv(zip.open(acesso_pasta_zipada),sep=';', thousands='.', decimal=',')
dados.head()

   ANOPESQ  PAIS  REGEOGR  VB00004  VB01001  ...  V0008  V0041  aluno  escola  turma
0     2015    76        1        1        2  ...      4      1      1       1    296
1     2015    76        1        1        2  ...      4      1      2       1    296
2     2015    76        1        1        1  ...      4      1      3       1    296
3     2015    76        1        1        1  ...      4      1      4       1    296
4     2015    76        1        1        1  ...      4      1      5       1    296

[5 rows x 181 columns]

In [30]:
zip = ZipFile(caminho)
zip.namelist()[1]

'arquivos csv/PENSE_AMOSTRA2_ALUNO.CSV'

In [31]:
dados.shape

(16556, 181)

In [32]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16556 entries, 0 to 16555
Columns: 181 entries, ANOPESQ to turma
dtypes: float64(10), int64(171)
memory usage: 22.9 MB

In [20]:
# dados.select_dtypes(include='object')

      VB17003 VB17004        PESO
0        37,1     157  299,735235
1        50,2     152  355,170081
2        48,2   161,4  299,735235
3        69,4   172,5  355,170081
4        78,9   167,5  299,735235
...       ...     ...         ...
16551    56,7   167,9  447,815539
16552    61,9   185,8   592,50744
16553    60,9   159,4  401,131512
16554    47,3   157,8  442,718091
16555    62,6   163,9   592,50744

[16556 rows x 3 columns]

In [33]:
dados.select_dtypes(include='float')

       TEMPODESLOC  TEMPOTOTAL  TEMPOEDFIS  ...  VB17003  VB17004        PESO
0              0.0        15.0         0.0  ...     37.1    157.0  299.735235
1            120.0       510.0       260.0  ...     50.2    152.0  355.170081
2              0.0       585.0       130.0  ...     48.2    161.4  299.735235
3              0.0         0.0         0.0  ...     69.4    172.5  355.170081
4             30.0       165.0        90.0  ...     78.9    167.5  299.735235
...            ...         ...         ...  ...      ...      ...         ...
16551         30.0       400.0       110.0  ...     56.7    167.9  447.815539
16552         20.0       800.0       325.0  ...     61.9    185.8  592.507440
16553          0.0         0.0         0.0  ...     60.9    159.4  401.131512
16554         75.0       215.0        35.0  ...     47.3    157.8  442.718091
16555         50.0       485.0       110.0  ...     62.6    163.9  592.507440

[16556 rows x 10 columns]

## Desafio 01: Descompactar a pasta zipada usando outro método (Dica Allan, é utilizar comandos Bash).

In [11]:
#!unzip /content/drive/MyDrive/PENSE_2015/PeNSE_2015_AMOSTRA2.zip -d /content/drive/MyDrive/PENSE_2015/

In [12]:
# dados_teste = pd.read_csv('/content/drive/MyDrive/PENSE_2015/arquivos csv/PENSE_AMOSTRA2_ALUNO.CSV', sep=';')
# dados_teste.head()

## Desafio 02: Estudar sobre a base de dados que vamos trabalhar.

video sugerido no Discord: 

fonte: https://www.youtube.com/watch?v=z4BBCHZUvD4

## Desafio 03 - Classificar algumas perguntas como QualitativaXQuantitativa

In [64]:
# colunas = (np.random.rand(15)*100).round().astype('int64')
# colunas

array([85, 18,  5, 36, 28, 53, 31, 30, 11, 25, 92, 26, 72, 87, 81])

In [68]:
desafio_3 = pd.read_csv(zip.open(acesso_pasta_zipada),sep=';', thousands='.', decimal=',', usecols=colunas)
desafio_3.head()

   VB01002  VB01008A  VB01016  VB01023  ...  VB06002  VB06006  VB07002  VB07007
0        1         7        1        2  ...       -1        1        5        1
1        1         7        1        2  ...       -1        1        5        1
2        4         5        1        2  ...       -1        1        5        2
3        1         7        1        2  ...       -1        1        4        1
4        1         5        1        2  ...       -1        2        4        2

[5 rows x 15 columns]

In [69]:
colunas_desafio_3 = {'VB01002':'Qual é a sua cor ou raça?', 
                     'VB01008A':'Qual nível de ensino (grau) sua mãe estudou ou estuda?', 
                     'VB01016':'Você tem acesso à internet em sua casa?', 
                     'VB01023':'Você estuda em regime integral (tem atividades escolares por 7 horas ou mais horas diárias, durante todo o período escolar)?' , 
                     'VB01024':'Você estuda em regime de internato (a escola possui alojamento onde os alunos permanecem e dormem diariamente, durante todo o período escolar)?',
                     'VB01026':'Quando terminar o ciclo/curso que você está frequentando atualmente, você pretende?',
                     'VB02002':'NOS ÚLTIMOS 7 DIAS, em quantos dias você comeu salgados fritos? Exemplo: batata frita (sem contar a batata de pacote) ou salgados fritos como coxinha de galinha, quibe frito, pastel frito, acarajé etc.', 
                     'VB02004A':'NOS ÚLTIMOS 7 DIAS, em quantos dias você comeu pelo menos um tipo de legume ou verdura? Exemplos: alface, abóbora, brócolis, cebola, cenoura, chuchu, couve, espinafre, pepino, tomate etc. Não inclua batata e aipim (mandioca/macaxeira).', 
                     'VB02018A':'Você costuma comer quando está assistindo à TV ou estudando?', 
                     'VB03007':'NORMALMENTE, quanto tempo por dia duram essas atividades (como esportes, dança, ginástica, musculação, lutas ou outra atividade) que você faz? (Sem contar as aulas de educação física)', 
                     'VB05002':'Alguma vez na vida você tomou uma dose de bebida alcoólica? (Uma dose equivale a uma lata de cerveja ou uma taça de vinho ou uma dose de cachaça ou uísque etc)', 
                     'VB06002':'Que idade você tinha quando usou droga como maconha, cocaína, crack, cola, loló, lança-perfume, ecstasy, oxy ou outra, pela primeira vez?',
                     'VB06006':'Quantos amigos seus usam drogas?', 
                     'VB07002':'NOS ÚLTIMOS 30 DIAS, com que frequência seus pais ou responsáveis sabiam realmente o que você estava fazendo em seu tempo livre?', 
                     'VB07007':'NOS ÚLTIMOS 30 DIAS, com que frequência algum dos seus colegas de escola te esculacharam, zoaram, mangaram, intimidaram ou caçoaram tanto que você ficou magoado, incomodado, aborrecido, ofendido ou humilhado?'
                     }
desafio_3 = desafio_3.rename(columns=colunas_desafio_3)
desafio_3

       Qual é a sua cor ou raça?  ...  NOS ÚLTIMOS 30 DIAS, com que frequência algum dos seus colegas de escola te esculacharam, zoaram, mangaram, intimidaram ou caçoaram tanto que você ficou magoado, incomodado, aborrecido, ofendido ou humilhado?
0                              1  ...                                                  1
1                              1  ...                                                  1
2                              4  ...                                                  2
3                              1  ...                                                  1
4                              1  ...                                                  2
...                          ...  ...                                                ...
16551                          4  ...                                                  3
16552                          1  ...                                                  1
16553                          4  ...                                                  4
16554                          4  ...                                                  1
16555                          2  ...                                                  1

[16556 rows x 15 columns]

In [85]:
print(f'{desafio_3.columns[0]} \n variável qualitativa nominal \n')
print(f'{desafio_3.columns[1]} \n variável qualitativa nominal \n')
print(f'{desafio_3.columns[2]} \n variável qualitativa nominal \n')
print(f'{desafio_3.columns[3]} \n variável qualitativa nominal \n')
print(f'{desafio_3.columns[4]} \n variável qualitativa nominal \n')
print(f'{desafio_3.columns[5]} \n variável qualitativa nominal \n')
print(f'{desafio_3.columns[6]} \n variável qualitativa ordinal \n')
print(f'{desafio_3.columns[7]} \n variável qualitativa ordinal \n')
print(f'{desafio_3.columns[8]} \n variável qualitativa ordinal \n')
print(f'{desafio_3.columns[9]} \n variável qualitativa ordinal \n')
print(f'{desafio_3.columns[10]} \n variável qualitativa nominal \n')
print(f'{desafio_3.columns[11]} \n variável quantitativa discreta \n')
print(f'{desafio_3.columns[12]} \n variável qualitativa nominal \n')
print(f'{desafio_3.columns[13]} \n variável qualitativa nominal \n')
print(f'{desafio_3.columns[14]} \n variável qualitativa nominal \n')

Qual é a sua cor ou raça?
 variável qualitativa nominal

Qual nível de ensino (grau) sua mãe estudou ou estuda?
 variável qualitativa nominal

Você tem acesso à internet em sua casa?
 variável qualitativa nominal

Você estuda em regime integral (tem atividades escolares por 7 horas ou mais horas diárias, durante todo o período escolar)?
 variável qualitativa nominal

Você estuda em regime de internato (a escola possui alojamento onde os alunos permanecem e dormem diariamente, durante todo o período escolar)?
 variável qualitativa nominal

Quando terminar o ciclo/curso que você está frequentando atualmente, você pretende?
 variável qualitativa nominal

NOS ÚLTIMOS 7 DIAS, em quantos dias você comeu salgados fritos? Exemplo: batata frita (sem contar a batata de pacote) ou salgados fritos como coxinha de galinha, quibe frito, pastel frito, acarajé etc.
 variável qualitativa ordinal

NOS ÚLTIMOS 7 DIAS, em quantos dias você comeu pelo menos um tipo de legume ou verdura? Exemplos: alface, abóbora, brócolis, cebola, cenoura, chuchu, couve, espinafre, pepino, tomate etc. Não inclua batata e aipim (mandioca/macaxeira).
 variável qualitativa ordinal

Você costuma comer quando está assistindo à TV ou estudando?
 variável qualitativa ordinal

NORMALMENTE, quanto tempo por dia duram essas atividades (como esportes, dança, ginástica, musculação, lutas ou outra atividade) que você faz? (Sem contar as aulas de educação física)
 variável qualitativa ordinal

Alguma vez na vida você tomou uma dose de bebida alcoólica? (Uma dose equivale a uma lata de cerveja ou uma taça de vinho ou uma dose de cachaça ou uísque etc)
 variável qualitativa nominal

Que idade você tinha quando usou droga como maconha, cocaína, crack, cola, loló, lança-perfume, ecstasy, oxy ou outra, pela primeira vez?
 variável quantitativa discreta

Quantos amigos seus usam drogas?
 variável qualitativa nominal

NOS ÚLTIMOS 30 DIAS, com que frequência seus pais ou responsáveis sabiam realmente o que você estava fazendo em seu tempo livre?
 variável qualitativa nominal

NOS ÚLTIMOS 30 DIAS, com que frequência algum dos seus colegas de escola te esculacharam, zoaram, mangaram, intimidaram ou caçoaram tanto que você ficou magoado, incomodado, aborrecido, ofendido ou humilhado?
 variável qualitativa nominal